{% load static %}
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'books:index' %}">Главная</a></li>
        </ul>
    </nav>
</header>
<div class="login-form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Авторизоваться">
    </form>
    <div>
        <ul>
            <li>
                <a href="{% url 'users:registration' %}">
                    Ещё не зарегистрировались?</a>
            </li>
        </ul>
    </div>
</div>
<footer>
    <p>&copy; Bookstore 2023</p>
</footer>
</body>
</html>
